@model AutomatiseringLiefLeed.Models.Date

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Dates</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstDate" class="control-label">Eerste Datum (bijvoorbeeld startdatum werknemer)</label>
                <input asp-for="FirstDate" class="form-control" type="date" />
                <span asp-validation-for="FirstDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondDate" class="control-label">Tweede Datum (bijvoorbeeld huidige datum)</label>
                <input asp-for="SecondDate" class="form-control" type="date" />
                <span asp-validation-for="SecondDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Voeg Toe" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Terug naar Lijst</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}