@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Start aanvraag";
}

<!-- Main Content -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="mb-4">aanvraagportaal Lief & Leed Pot</h1>

            <p class="mb-4">Klik op 'Start aanvraag' om een verzoek in te dienen voor:</p>

            <div class="d-flex justify-content-center">
                <ul class="text-start ps-4">
                    <!-- ps-4 = padding-start -->
                    <li>Jubilea (Verjaardag, dienstjubilea of pensionering)</li>
                    @* <li>Bijzondere gebeurtenissen (huwelijk, verhuizing, etc.)</li> -- zijn er uitgehaald*@
                    <li>Ziekte of overlijden</li>
                </ul>
            </div>

            <!-- Divider -->
            <hr class="my-4">
            <p>Let op: u moet ingelogd zijn om een aanvraag te kunnen indienen.</p>

            <!-- Button -->
            @if (SignInManager.IsSignedIn(User))
            {
                <a asp-controller="AanvraagForm" asp-action="Create" class="btn btn-success btn-lg mt-3">
                    Start aanvraag
                </a>
            }
            else
            {
                <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary btn-lg mt-3">
                    Log in om te starten
                </a>
            }
        </div>
    </div>
</div>