@{
    ViewData["Title"] = "Start aanvraag";
}

<!-- Main Content -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="mb-4">aanvraagportaal Lief & Leed Pot</h1>

            <p class="mb-4">Klik op 'Start aanvraag' om een verzoek in te dienen voor:</p>

            <div class="d-flex justify-content-center">
                <ul class="text-start ps-4">
                    <!-- ps-4 = padding-start -->
                    <li>Jubilea (50 jaar, 25 jaar dienstverband, etc.)</li>
                    <li>Bijzondere gebeurtenissen (huwelijk, verhuizing, etc.)</li>
                    <li>Ziekte of overlijden</li>
                </ul>
            </div>

            <!-- Divider -->
            <hr class="my-4">

            <!-- Button -->
            <a href="~/AanvraagForm/Create" class="btn btn-primary btn-lg mt-3">Start aanvraag</a>
        </div>
    </div>
</div>